{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Chat Forum Application</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

	<link rel="stylesheet" type="text/css" href="{%static 'default.css'%}">


	<style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}
        a{
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
        }

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		<a href="/index">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		<ul id="navigation">
			<li><a href="/index#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<section class="section">
			<div class="img-container">
				<img src="{%static 'chat-forum.png'%}">
			</div>
		</section>
		
		<section class="section">
			<h3>Chat Forum Application</h3>
			<br>
			<p>It is a real time chat application capable of serving multiple user connections on a single session. Created using the most popular pthon web framework - Django, it is a diverse application with all the basic functionalities of a chat application mirroring a social media platform.
			<br>
			<br>
			The primary or basic unit in the idea behind the application is a 'forum'.
        	A forum is a room or a group where users can enter and chat away particularly regarding the topic the forum represents or whatever the user wishes to type.
        	<br><br>
        	The only requirement in entering a forum is that you know it's name(i.e. each forum has a unique name).
        	Therefore all users on the platform are free to enter any forum given that they know it's name.
			<br>
			<br>
			The foum and the user are both unique entities with their own identities(description, image, name, etc.).
        	<br>
        	And to implement all this, we used various modules provided by python that can be integrated into Django.
			<br>
			</p>
		</section>
		
		<section class="section">
			<h3>Technologies</h3>
			<br>
			<span class="tag is-black is-size-5">Python</span>
			<span class="tag is-dark is-size-5">Django</span>
			<span class="tag is-light is-size-5">Redis</span>
			<span class="tag is-primary is-size-5">django-channels</span>
			<span class="tag is-link is-size-5">bulma</span>
			<span class="tag is-info is-size-5">WebSockets</span>
		</section>

		<section class="section">
			<h5>Login</h5>
			<div class="img-container">
				<img src="{%static 'login.png'%}">
			</div>
		</section>
		
		<section class="section">
			<h5>SignUp</h5>
			<div class="img-container">
				<img src="{%static 'signup.png'%}">
			</div>
		</section>

		<section class="section">
			<h5>Home</h5>
			<div class="img-container">
				<img src="{%static 'home.png'%}">
			</div>
		</section>

		<section class="section">
			<h5>Forum</h5>
			<div class="img-container">
				<img src="{%static 'forum.png'%}">
			</div>
		</section>

        <br><br>

        <section class="hero is-warning is-offset-3">
			<div class="hero-body">
			  	<p class="title">
					For MORE INFORMATION
			  	</p>
			  	<p class="subtitle has-text-info">
					<a target="_blank" href="https://github.com/Jeswin-8802/chat-forum">Source Code(Github)</a>
			  	</p>
			</div>
		</section>

        <br><br>

	</div>

</body>
</html>