{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- In case image.ipng -->
	
	  <link rel="shortcut icon" type="image/png" href="{% static 'personal-profile.png' %}" />

  	<!-- Favicons End -->
</head>
<body style="background-image: linear-gradient(to bottom right, rgb(187, 187, 187), rgb(188, 211, 255));">
    <section class="hero is-link is-offset-3">
      <div class="hero-body">
        <p class="title">
          Thanks for connecting with me. I will reach out to you soon!!
        </p>
        <p class="subtitle">
          In the meantime please do expand your network with people who have connected with me.
        </p>
      </div>
    </section>

    <div class="column is-6 is-offset-3 mt-6">
      <div class="box has-text-centered has-background-link-light">
        <table class="table is-hoverable is-fullwidth is-size-4 has-background-link-light">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          {% for i in data %}
          <tr>
              <th>{{ i.first_name}}</th>
              <td>{{ i.email}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    
    
</body>
</html>