{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Webisite Design</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

	<link rel="stylesheet" type="text/css" href="{%static 'default.css'%}">


	<style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}
        a{
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
        }

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		<a href="/index">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		<ul id="navigation">
			<li><a href="/index#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<section class="section">
			<div class="img-container">
				<img src="{%static 'dubai.jpeg'%}">
			</div>
		</section>
		

		<section class="section">
			<h3>Website Design</h3>
			<br>
			<p>Built a video background website using HTML and CSS. </p>
			<p> Backgrounds takes up the entire width and height of the viewport 
				(in other words, the visible page area) and add some visual flair 
				to boost engagement.
			</p>
			<p>This website makes use of a
				Play Button which on clicking displays the video.
			</p>
		</section>
		
		<section class="section">
			<h3>Technologies</h3>
			<br>
			<span class="tag is-dark is-size-5">HTML</span>
			<span class="tag is-primary is-size-5">Bootstrap</span>
			<span class="tag is-link is-size-5">CSS</span>
		</section>

        <br><br>


		<section class="hero is-warning is-offset-3">
			<div class="hero-body">
			  	<p class="title">
					For MORE INFORMATION
			  	</p>
			  	<p class="subtitle has-text-info">
					<a target="_blank" href="https://github.com/Jeswin-8802/chat-forum">Source Code(Github)</a>
			  	</p>
			</div>
		</section>

        <br><br>

	</div>

</body>
</html>