{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Webisite Design</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

	<link rel="stylesheet" type="text/css" href="{%static 'default.css'%}">


	<style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}
        a{
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
        }

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		<a href="/index">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		<ul id="navigation">
			<li><a href="/index#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{%static 'design.jpg'%}">
		</div>
		
		<h3>Website Design</h3>

		<p>Built a video background website using HTML and CSS. </p>
		<p> Backgrounds takes up the entire width and height of the viewport 
			(in other words, the visible page area) and add some visual flair 
			to boost engagement.
		</p>
		<p>This website makes use of a
			Play Button which on clicking displays the video.
		</p>

		<h5>Technologies:</h5>
		<ul>
			<li>- HTML</li>
			<li>- Bootstrap</li>
			<li>- CSS</li>
		</ul>


		<h5>Login</h5>
		<div class="img-container">
			<img src="{%static 'login.png'%}">
		</div>

		<h6>SignUp</h5>
		<div class="img-container">
			<img src="{%static 'signup.png'%}">
		</div>

		<h5>Home</h5>
		<div class="img-container">
			<img src="{%static 'home.png'%}">
		</div>

		<h5>Forum</h5>
		<div class="img-container">
			<img src="{%static 'forum.png'%}">
		</div>

        <br><br>

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    For MORE INFORMATION
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <a target="_blank" href="https://github.com/Jeswin-8802/chat-forum">Source Code(Github)</a>
        </div>

        <br><br>

	</div>

</body>
</html>